@{
    ViewData["Title"] = "TarvleBulge!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {

        $('.display-view').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("Create")',
                success: function (result) {
                    $('#result1').html(result);
                }
            });
        });
    });

</script>

@model IEnumerable<TravelBlog.Models.Suggestion>
 
<h2>Locations</h2>
<hr/>
<ul>
    @foreach (var listLocation in Model)
    {
        <li>@Html.ActionLink(listLocation.Details, "Details", new { id = listLocation.SuggestionId }) | @Html.ActionLink("Edit", "Edit", new { id = listLocation.SuggestionId }) | @Html.ActionLink("Delete", "Delete", new { id = listLocation.SuggestionId })</li>   
    }
</ul>

<h4 class="display-view">Click to create</h4>
<div id="result1"></div>
@*<p>@Html.ActionLink("Suggest a Location", "Create")</p>*@