

<div id="footer">
    <ul>
    <li>
    @Html.ActionLink("TarvleBulge Locations!", "Index", "Locations")
    </li>
    <li>
    @Html.ActionLink("TarvleBulge Experiences!", "Index", "Experiences")
    </li>
    <li>
    @Html.ActionLink("TarvelBulge People!", "Index", "People")
    </li>
    <li>
     @Html.ActionLink("View suggestions", "Index", "Suggestions")
    </li>
    <li>
     @Html.ActionLink("Go Home TarvleBulge!", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink("User Roles", "Index", "Roles")
    </li>

    </ul>
</div>