@model TravelBlog.Models.Experience

@{
    ViewData["Title"] = "TarvleBulge Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Share a New Store</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Story)
    @Html.EditorFor(model => model.Story)

    @Html.LabelFor(model => model.LocationId)
    @Html.DropDownList("LocationId")

    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to List", "Index")