@model TravelBlog.Models.Experience

@{
    ViewData["Title"] = "Tarvle Bulge Detailss!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Experience Details</h2>
<hr />

<p>@Html.DisplayNameFor(model => model.Story): @Html.DisplayFor(model => model.Story)</p>
<p>@Html.DisplayNameFor(model => model.LocationId) : @Html.DisplayFor(model => model.LocationId)</p>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.ExperienceId }) | @Html.ActionLink("Back to List", "Index")</p>

